.bg-custom {
    background-color: #f1f1f4;
    margin-bottom: -20px;
}

#google-translate {
    padding-right: 10px;
}

.btn-save {
    background-color: rgb(15, 153, 15);
    color: white;
}

.bottom-field:disabled {
    background-color: white;
}

.dropdown {
    width: 300px;
    height: 100%;
    margin-right: 7px;
    text-align: left;
    background-color: rgb(219, 217, 217);
    color: black;
    font-size: 16px;
    border: none;
    padding: 4px;
}

.language-button {
    background-color: rgb(219, 217, 217);
    height: 100%;
    width: 100%;
    text-align: left;
    color: black;
    font-size: 16px;
    border: none;
    padding: 4px;
}

.translate-button {
    border-radius: 3px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 16px;
}

.dropdown-menu {
    width: 250px;
}

.clear-button {
    border-color: rgb(227, 224, 224);
    padding: 5px 14px;
    font-size: 16px;
}

.btn-group {
    margin-top: 8px;
}
.english-buttons {
   display: flex; 
   justify-content: space-between; 
}

#clear {
    float: right;
}

@media only screen and (max-width: 767px) {
    #englishForm {
    height: 90px;
}
}

@media only screen and (max-width: 767px) {
    #googleForm, #deeplForm {
    height: 150px;
}
}

@media only screen and (min-width: 768px) {
    #googleForm, #deeplForm {
    height: 350px;
}
}

@media only screen and (min-width: 1500px) {
    #googleForm, #deeplForm {
    height: 560px;
}
}

@media only screen and (min-width: 1915px) {
    #googleForm, #deeplForm {
    height: 860px;
}
}

@media only screen and (max-width: 452px) {
.english-buttons  {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 8px;
}
.clear-button, .translate-button  {
    margin-top: 4px;
}
.translate-button  {
    margin-right: 10px;
} 
.language-button {
    width: 100%;
}
}

@media only screen and (max-width: 452px) {
.dropdown {
    display: block; 
    margin-bottom: 8px;
    margin-right: 0px;
    width: 100% !important; 
}
.english-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.mt-3 {
    display: flex;
    flex-wrap: wrap;
}
}


   
    
  